body {
	padding: 0;
	margin: 0;
    background-color: rgb(245, 245, 245);
	color: rgb(20, 20, 20);
}

#app {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
	display: flex;
	align-items: center;
	padding: 0 20px;
	height: 50px;
	border-bottom: 1px solid rgb(210, 210, 210);
}

.workspace {
	display: flex;
	flex-direction: column;
	padding: 20px;
	max-width: 240px;
	border-right: 1px solid rgb(210, 210, 210);
}

.workspace .root {
	font-size: 1.6em;
	align-self: center;
	padding-bottom: 20px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.4);
}

.workspace .vocabulary {
	display: flex;
	align-items: baseline;
	font-size: 1.4em;
}

.workspace .add-vocabulary-folder {
	padding-left: 15px;
	font-size: 1.3em;
}

.workspace .add-vocabulary-folder svg {
	fill: rgba(255, 0, 0, 0.8);
	transition: all 0.05s ease-in-out;
}

.workspace .add-vocabulary-folder :hover {
	font-size: 1.1em;
	fill: rgba(255, 0, 0, 1);
}

.workspace .add-vocabulary-folder :active {
	fill: rgba(255, 0, 0, 0.7);
}
